<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>517</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />
    <script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
    <script type="application/javascript">
        angular.module('myApp', []).controller('MyCtrl',
            function ($scope) {
                $scope.v1 = 23;
                $scope.v2 = 21;
                $scope.v3 = 24;
                $scope.v4 = 58;
                $scope.cal = function () {
                    expr = "";
                    var op = ['+', '-', '*', '/'];
                    for (var i = 0; i < op.length; i++) {
                        for (var j = 0; j < op.length; j++) {
                            if (i != j) {
                                for (var k = 0; k < op.length; k++) {
                                    if (j != k && i != k) {
                                        var expr = $scope.v1 + op[i] + $scope.v2 + op[j] +
                                            $scope.v3 + op[k] + $scope.v4;
                                        if (eval(expr) == 517) {
                                            $scope.expr = expr;
                                            return;
                                        }
                                    }
                                }
                            }
                        }
                    }
                };
                $scope.cal();
            });
    </script>
</head>

<body ng-controller="MyCtrl">
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <form method="post" class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="v1" class="am-u-sm-3 am-form-label">数字1：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="v1" ng-model="v1" placeholder="数字1">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="v2" class="am-u-sm-3 am-form-label">数字2：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="v2" ng-model="v2" placeholder="数字2">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="v3" class="am-u-sm-3 am-form-label">数字3：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="v3" ng-model="v3" placeholder="数字3">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="v4" class="am-u-sm-3 am-form-label">数字4：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="v4" ng-model="v4" placeholder="数字4">
                    </div>
                </div>
                <div class="am-cf">
                    <input type="submit" name="" value="重新计算" ng-click="cal()" class="am-btn am-btn-primary am-btn-sm am-fl">
                </div>
            </form>
        </div>
    </div>
    <hr/> {{expr}}=517
</body>

</html>