<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Screen</title>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script type="application/javascript">
        angular.module('myApp', []).controller('MyCtrl',
                function ($scope) {
                    $scope.model = {};
                    $scope.model.x = 4;
                    $scope.model.y = 3;
                    $scope.cal = function () {
                        $scope.bx = parseInt($scope.model.x / 40);
                        $scope.by = parseInt($scope.model.y / 30);
                        $scope.xx = Math.round(128 * ($scope.model.x % 40) / 40.0);
                        $scope.yy = Math.round(128 * ($scope.model.y % 30) / 30.0);
                    }
                    $scope.cal();
                }).filter("hex", function () {
                    return function (v) {
                        var vv = v.toString(16);
                        if (vv.length == 1) {
                            return '0' + vv;
                        } else {
                            return vv;
                        }
                    };
                });
    </script>
</head>
<body ng-controller="MyCtrl">
X:<input type="text" name="x" ng-model="model.x"><br>
Y:<input type="text" name="y" ng-model="model.y"><br>
<input type="button" value="计算" ng-click="cal()"><br>
{{by|hex}}{{yy|hex}},{{bx|hex}}{{xx|hex}}
</body>
</html>
