<ion-view view-title="Facts">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-icon-right">
                权限设置
                <div class="icon">
                    <label class="checkbox">
                        读
                    </label>
                    <label class="checkbox">
                        写
                    </label>
                    <label class="checkbox">
                        执
                    </label>
                </div>
            </div>
            <div class="item item-icon-right">
               x
                <div class="icon">
                    <label class="checkbox">
                        <input type="checkbox"/>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </div>
            </div>
            <div class="item item-divider">
                <li class="item item-checkbox">

                </li>
            </div>
        </div>
        <!--  <p>Banging your head against a wall uses 150 calories an hour.</p>
          <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
          <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its
              right side when intoxicated.</p>
          <p>A cockroach will live nine days without it's head, before it starves to death.</p>
          <p>Polar bears are left handed.</p>
          <p>
              <a class="button icon ion-home" href="#/sideMenu/tabs/corp"> Home</a>
              <a class="button icon icon-right ion-chevron-right" href="#/sideMenu/tabs/facts2">More Facts</a>
          </p>-->
    </ion-content>
</ion-view>