<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="itemClick()">
               itme1
            </a>
            <a class="item" ng-click="itemClick()">
                itme2
            </a>
            <a class="item" ng-click="itemClick()">
                itme3
            </a>
            <a class="item" ng-click="itemClick()">
                itme4
            </a>
            <a class="item" ng-click="itemClick()">
                itme5
            </a>
        </div>
    </ion-content>
</ion-popover-view>