<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="企业" icon="ion-home" href="#/sideMenu/tabs/corp">
        <ion-nav-view name="tabs-corp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-ios-information" href="#/sideMenu/tabs/about">
        <ion-nav-view name="tabs-about"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contact" icon="ion-ios-world" href="#/sideMenu/tabs/contact">
        <ion-nav-view name="tabs-contact"></ion-nav-view>
    </ion-tab>
</ion-tabs>